html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.centre_error_404
    max-width: 450px
    margin-left: auto
    margin-right: auto
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100%
    @media (max-width: 760px)
        max-width: 270px
    
    h2
        jakarta 100
        @media (max-width: 760px)
            font-size: 36px
    p
        jakarta 32
        @media (max-width: 760px)
            font-size: 18px

// .aviso-cookies {
//     display: flex;
//     width: 100%;
//     margin: 0;
//     flex-direction: row;
//     align-items: center;
//     justify-content: flex-start;
//     bottom: 0;
//     background-color: rgba(255, 255, 255, 0.9);
//     border-top: solid 1px $cinza
//     position: fixed;
//     z-index: 999;
//     padding: 30px;

    // +below(760px) {
    //     flex-direction: column;
    //     align-items: center;
    //     padding: 20px;
    // }

    // .frase-cookies {
    //     width: 65%;
    //     assistant 18;
    //     color: #000;
    //     margin: 0;
    //     margin-left: 1%

    //     .link-politica {
    //         text-decoration: underline;

    //         &:hover, &:focus {
    //             font-weight: bold;
    //         }
    //     }

    //     +below(1200px) {
    //         font-size: 12px;
    //     }

    //     +below(760px) {
    //         width: 100%;
    //         text-align: center;
    //     }
    // }

    // .aceitar-cookies {
    //     width: 15%;
    //     height: 40px;
    //     assistant 18;
    //     color: #000;
    //     background-color: transparent;
    //     border: 1px solid #000;
    //     border-radius: 0;
    //     margin-left: 30px;
    //     cursor: pointer;
    //     outline: none;

    //     &:hover {
    //         border: 1px solid $dourado;
    //         background-color: $cinza;
    //         color white
    //     }

    //     +below(1200px) {
    //         font-size: 12px;
    //         height: 30px;
    //     }

    //     +below(760px) {
    //         width: 100%;
    //         text-align: center;
    //         margin-left: 0;
    //         margin-top: 10px;
    //     }
    // }
// }

// .fancybox-overlay {
//     background: rgba(0, 0, 0, 0.8) !important;
// }

// .fancybox-nav {
//     > span {
//         visibility: hidden !important;
//     }
// }